<%= turbo_frame_tag :charts_tangible_things do %>
  <div class="p-8 rounded-md shadow
    bg-white dark:bg-darkPrimary-700
    [--axis-color:theme('colors.gray.300')] dark:[--axis-color:theme('colors.darkPrimary.500')]
    [--grid-color:theme('colors.gray.100')] dark:[--grid-color:theme('colors.darkPrimary.800')]
    [--line-color:#a86fe7]
    [--point-color:theme('colors.gray.800')] dark:[--point-color:theme('colors.white')]
    [--point-stroke-color:theme('colors.white')] dark:[--point-stroke-color:theme('colors.darkPrimary.700')]
    [--point-stroke-color-hover:theme('colors.gray.100')] dark:[--point-stroke-color-hover:theme('colors.darkPrimary.800')]
    [--bar-fill-color:var(--line-color)]
    [--bar-hover-fill-color:var(--point-color)]
    [--point-radius:4] md:[--point-radius:6]
    [--point-hover-radius:6] md:[--point-hover-radius:10]
    [--point-border-width:3] md:[--point-border-width:4]
    [--point-hover-border-width:2] md:[--point-hover-border-width:3]
    "
    data-controller="supercharts--filterable supercharts--describable"
    data-action="superchart:update-chart->supercharts--filterable#updateChart superchart:description-requested->supercharts--describable#showDescriptionWith"
    data-supercharts--describable-hide-overall-description-class="opacity-0"
    data-supercharts--describable-hide-contextual-description-class="hidden"
  >
    <%= turbo_frame_tag :charts_tangible_things_filters do %>
      <div class="sm:flex justify-start">
        <div class="relative">
          <div data-supercharts--describable-target="overallDescription">
            <h2 class="text-xs uppercase dark:text-white/50">
              <% if @timespan == "1w" %>
                Tangible Things last 7 days
              <% elsif @timespan == "1m" %>
                Tangible Things last 31 days
              <% elsif @timespan == "ytd" %>
                Tangible Things since start of year
              <% end %>
            </h2>
            <p class="font-semibold dark:text-white mt-2" style="font-size: 1.8rem;">
              <%= @total %>
            </p>
          </div>
          <div data-supercharts--describable-target="contextualDescription" class="hidden absolute top-0 left-0 right-0"></div>
          <template data-supercharts--describable-target="contextualDescriptionTemplate">
            <p class="font-semibold dark:text-white mb-1" style="font-size: 1.6rem;">%value%</p>
            <p class="text-xs uppercase dark:text-white/50">
              <% if @period == :day %>
                Tangible Things on %label%
              <% elsif @period == :week %>
                Tangible Things in week of %label%
              <% elsif @period == :month %>
                Tangible Things in %label%
              <% end %>
            </p>
          </template>
        </div>
        <div class="mt-4 sm:mt-0 ml-auto">
          <div
            data-controller="supercharts--filters" data-supercharts--filters-event-name="superchart:update-chart"
          >
            <div class="flex items-center justify-center">
              <div class="inline-flex space-x-1" role="group">
                <%= render "shared/supercharts/filter_button", path: polymorphic_path([:account, @absolutely_abstract_creative_concept, :tangible_things, :chart], timespan: "1w"), label: "1w", first: true %>
                <%= render "shared/supercharts/filter_button", path: polymorphic_path([:account, @absolutely_abstract_creative_concept, :tangible_things, :chart], timespan: "1m"), label: "1m" %>
                <%= render "shared/supercharts/filter_button", path: polymorphic_path([:account, @absolutely_abstract_creative_concept, :tangible_things, :chart], timespan: "ytd"), label: "ytd", last: true %>
              </div>
            </div>
            <template data-supercharts--filters-target="data">
              <%= @csv.lstrip.html_safe %>
            </template>
          </div>
        </div>
      </div>
    <% end %>
    
    <div
      class="mt-4"
      data-controller="superchart"
      data-superchart-type-value="line"
      data-supercharts--filterable-target="chart"
      data-action="update-chart->superchart#updateChart"
    >
      <canvas data-superchart-target="chartjsCanvas" style="height: var(--chart-height)"">
        <% if @timespan == "1w" %>
          Chart of Tangible Things last 7 days
        <% elsif @timespan == "1m" %>
          Chart of Tangible Things last 31 days
        <% elsif @timespan == "ytd" %>
          Chart of Tangible Things since start of year
        <% end %>
      </canvas>
      <template data-superchart-target="csvData" data-supercharts--filterable-target="chartSourceData"></template>
      <template data-superchart-target="chartjsOptions"></template>
    </div>
  </div>
<% end %>
